* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
a {
    text-decoration: none;
}
button {
    border: none;
}
/* -----------COMMON CSSS------------ */
.content {
    width: min(1170px, calc(100vw - 48px));
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}
.btn {
    border-radius: 30px;
    background: #2e80ce;
    padding: 15px 50px;
    min-width: 205px;
    height: 60px;
    /* display: inline-block; */
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    opacity: 0.9;
}

/* -----------HEADER------------ */
.header {
    background-color: #10375c;
    padding-top: 30px;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-bottom: 20px;
}
.header__inner {
    display: flex;
    align-items: center;
}
.logo__text--main {
    color: #fff;
    font-size: 18px;
    line-height: 14px; /* 77.778% */
}
.logo__text {
    display: inline-block;
}
.logo__text--submain {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    display: block;
    text-align: right;
}
.header__menu {
    margin-left: auto;
}
.header__actions {
    margin-left: 222px;
}
.menu__list {
    display: flex;
    gap: 0 42px;
}
.menu__link {
    color: #c9d2da;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
}
.menu__link:hover {
    color: #fff;
}
.menu__link--active {
    color: #fff;
    text-align: center;
    font-style: normal;
    line-height: 28px;
    position: relative;
}
.menu__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    /* margin-right: 11px; */
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
}
.header__login {
    color: #c9d2da;
    /* text-align: right; */
    /* font-style: normal; */
    font-weight: 300;
    line-height: 28px; /* 175% */
}
.header__signup {
    color: #fff;
    /* text-align: center; */
    line-height: 28px;
    border-radius: 22px;
    padding: 8px 20px;
    margin-left: 48px;
    min-width: 104px;
    height: 44px;
}
/* -----------HERO------------ */
.hero {
    background-color: #10375c;
    padding-top: 76px;
    padding-bottom: 110px;
}
.hero__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero__title {
    color: #fff;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    color: #c9d2da;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-top: 22px;
    max-width: 480px;
}
.hero__actions {
    display: flex;
    align-items: center;
    gap: 0 38px;
    margin-top: 53px;
}
.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
}
.hero__phone,
.hero__phone--link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 30px; /* 166.667% */
}
.hero__media {
    position: relative;
    height: 540px;
    /* margin-left: 113px; */
    /* overflow: hidden; */
}
.hero__img {
    object-fit: cover;
    border-radius: 6px;
}
.hero__img--main {
    position: absolute;
    top: 0;
    right: 204px;
    width: 330px;
    height: 540px;
    z-index: 2;
}
.hero__img--submain {
    position: absolute;
    top: 75px;
    right: 0px;
    width: 210px;
    height: 410px;
    z-index: 1;
}

/* ---------SERVICES------------ */
.services {
    padding-top: 170px;
    padding-bottom: 170px;
}
.service__title {
    color: #10375c;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}
.service__desc {
    color: #575f66;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    width: 475px;
    margin: 0 auto;
    margin-top: 18px;
}
.service__content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service__media {
    object-fit: cover;
    width: 570px;
    height: 570px;
    border-radius: 12px;
}
.service__info {
    margin-left: 115px;
    margin-top: 56px;
}
.servive__item {
    display: flex;
    align-items: center;
    padding: 20px;
}
.servive__item + .servive__item {
    margin-top: 21px;
}
.servive__item--active {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff6fd;
}
.service__icon--active {
    background-color: #2e80ce;
}
.service__item-info {
    margin-left: 19px;
}
.service__item-heading {
    color: #10375c;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.service__item-desc {
    color: #575f66;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 315px;
    margin-top: 8px;
}
.service__link {
    margin-top: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* -----------WORKS------------ */
.works {
    background: #f6fbff;
    padding-top: 100px;
    padding-bottom: 132px;
}
.works__title {
    color: #10375c;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}
.works__desc {
    color: #575f66;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    width: 475px;
    margin-top: 18px;
}
.works__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    gap: 0 30px;
}
.works__item {
    border-radius: 4px;
    background: #fff;
    width: 370px;
    height: 402px;
    padding: 43px 75px 43px 42px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
}
.works__item--active {
    border: 16px solid #2e80ce;
    position: relative;
    top: -16px;
}
.works__item-title {
    color: #10375c;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
    margin-bottom: 28px;
}
.works__item-info {
    color: #575f66;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; /* 175% */
    width: 254px;
    margin-bottom: 18px;
}
.works__link {
    color: #575f66;
    font-weight: 300;
    line-height: 28px; /* 175% */
}
.works__link--active {
    color: #2e80ce;
    line-height: 28px; /* 175% */
}

/* -------------SMILES---------- */
.smiles {
    padding-top: 170px;
    padding-bottom: 170px;
}
.smiles__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
}
.smiles__media {
    position: relative;
}
.smiles_img-first {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
}
.smiles_img-second {
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 121px;
    right: 15px;
}
.smiles__content {
    margin-left: 115px;
    margin-top: 58px;
}
.smiles__title {
    color: #10375c;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
    width: 470px;
}
.smiles__desc {
    color: #575f66;
    font-size: 18px;
    line-height: 30px;
    width: 468px;
    margin-top: 18px;
}
.smiles__link {
    margin-top: 38px;
}
/* --------------DENTIST-------------- */
.dentist {
    margin-top: 170px;
}
.dentist__title {
    color: #10375c;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}
.dentist__link {
    margin-top: 38px;
    text-align: center;
}
.dentist__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 34px;
}
.dentist__card {
    width: 270px;
    height: 384px;
    margin-top: 70px;
}
.dentist__card:hover .dentist__img {
    transform: scale(1.1);
}
.dentist__thumb {
    background: #eaf6ff;
    padding-top: 28px;
    border-radius: 6px;
    overflow: hidden; /* khi hover vào ảnh ko bị ra ngoài*/
}
.dentist__img {
    /* width: 262px; */
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    display: block; /* để làm mất phần khoảng trắng ở dưới ảnh*/
    transition: 0.25s;
}
/* .dentist__card:last-child .dentist__img {
    width: 253px;
} */
.dentist__name {
    color: #10375c;
    text-align: center;
    line-height: 28px; /* 175% */
    display: block;
    margin-top: 12px;
}
.dentist__role {
    color: #575f66;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere;
}
.dentist__pagination {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 18px;
}
.dentist__pagination-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dentist__pagination-link:first-child {
    border-radius: 36px;
    border: 1px solid #575f66;
    background: #fff;
}
/* --------------APPS-------------- */
.app {
    margin-top: 265px;
}
.app__inner {
    display: grid;
    grid-template-columns: 354px 1fr;
    height: 427px;
    border-radius: 4px;
    background: #2e80ce;
}
.app__media {
    width: 284px;
    height: 522px;
    position: relative;
    margin-left: 70px;
}
.app__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -95px;
}
.app__content {
    margin-left: 160px;
    margin-top: 76px;
}
.app__title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
    width: 489px;
}

.app__desc {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    width: 588px;
    font-style: normal;
    margin-top: 18px;
}
.app__download {
    margin-top: 38px;
    display: flex;
    gap: 0 28px;
}
.app__link {
    /* margin-right: 28px; */
}
/* -----------LATEST NEWS----------- */
.news {
    margin-top: 170px;
}
.news__inner {
    /* display: grid;
    grid-template-columns: 1fr 1.2fr; */
    display: flex;
    align-items: center;
}
.news__title {
    color: #10375c;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
    width: 470px;
}
.news__all-link {
    color: #10375c;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 28px;
    display: inline-block;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.news__pagination {
    margin-top: 38px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0 18px;
}
.news__pagination-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news__pagination-link:first-child {
    border-radius: 36px;
    border: 1px solid #575f66;
    background: #fff;
}
.news__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
    margin-left: 130px;
}
.news__card {
    width: 270px;
    height: 375px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    transition: 0.25s;
    overflow: hidden;
}
.news__card:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
    /* transform: translateY(-8px); */
}
.news__card:hover .news__img {
    transform: scale(1.1);
}
.news__media {
    overflow: hidden;
    height: 172px;
}
.news__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
    /* border-radius: 12px 12px 0 0; */
}
.news__body {
    padding: 18px 0px 22px 21px;
}
.news__heading {
    color: #10375c;
    font-weight: 600;
    line-height: 26px;
    width: 224px;
}
.news__desc {
    color: #575f66;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
    width: 226px;
}
.news__link {
    color: #10375c;
    font-size: 14px;
    line-height: normal;
    margin-top: 12px;
    display: inline-block;
}
.news__link:hover {
    color: #2e80ce;
}
/* ---------CTA----------- */
.cta {
    margin-top: 170px;
}
.cta__inner {
    background: #f6fbff;
    padding: 100px 179px;
}
.cta__title {
    color: #10375c;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}
.cta__title::after {
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
    display: block;
    margin: 18px auto;
}
.cta__desc {
    color: #575f66;
    text-align: center;
    font-weight: 300;
    line-height: 28px; /* 175% */
    width: 620px;
    margin-inline: auto;
}
.cta__link {
    display: flex;
    margin-inline: auto;
    width: fit-content;
    margin-top: 38px;
}
/* -------------FOOTER------------- */
.footer {
    margin-top: 170px;
    background: #10375c;
    padding-top: 100px;
    padding-bottom: 42px;
}
.footer__top {
    display: grid;
    grid-template-columns: 336px 134px 134px 1fr;
    gap: 0 78px;
}
.footer__desc {
    color: #a9b3bb;
    font-family: "Open Sans";
    line-height: 28px;
    margin-top: 21px;
}
.footer__group + .footer__group {
    margin-top: 28px;
}
.footer__heading {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.footer__link {
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__item {
    margin-top: 20px;
}
.footer__item + .footer__item {
    margin-top: 10px;
}
.footer__subscribe-title {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 28px;
    margin-top: 28px;
}
.footer__subscribe-desc {
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    width: 273px;
}
.footer__social {
    display: flex;
    gap: 0 10px;
    margin-top: 20px;
}
.footer__social-link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social-link:first-child {
    background-color: #2e80ce;
}
.footer__form {
    display: flex;
    gap: 0 12px;
    align-items: center;
    margin-top: 10px;
}
.footer__input {
    height: 46px;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
    border: 1px solid #406181;
    padding: 10px;
}
.footer__inner::placeholder {
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
}
.footer__submit {
    width: 108px;
    height: 46px;
    min-width: 0;
    padding: 10px 20px;
    border-radius: 4px;
    /* border: none; */
}
.footer__bottom {
    border-top: 1px solid #406181;
    margin-top: 28px;
}
.footer__copy-right {
    color: #aab3ba;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
    margin-top: 28px;
}
